version: "3.9"

services:
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: backend
    working_dir: /backend
    command: [ "python", "./server.py" ]
    ports:
      - "8000:8000"
    volumes:
      - ./backend:/backend
    restart: always

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: frontend
    working_dir: /frontend
    command: [ "streamlit", "run", "./app.py", "--server.port=8501", "--server.enableCORS=false" ]
    ports:
      - "8501:8501"
    environment:
      - PYTHONUNBUFFERED=1
      - STREAMLIT_SERVER_HEADLESS=true
    volumes:
      - ./frontend:/frontend
    depends_on:
      - backend
    restart: always
