services:
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: backend
    working_dir: /backend
    command: [ "python", "./server.py" ]
    ports:
      - "8000:8000"
    environment:
      - DATABASE_URL=postgresql://admin:admin123@postgres/mydb
    volumes:
      - ./backend:/backend
    networks:
      - app_network
    restart: always

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: frontend
    working_dir: /frontend
    command: [ "streamlit", "run", "./app.py", "--server.port=8501", "--server.enableCORS=false" ]
    ports:
      - "8501:8501"
    environment:
      - PYTHONUNBUFFERED=1
      - STREAMLIT_SERVER_HEADLESS=true
      - BASE_URL=http://backend:8000
    volumes:
      - ./frontend:/frontend
    depends_on:
      - backend
    networks:
      - app_network
    restart: always

networks:
  app_network:
    driver: bridge
